.Button {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.Button-Indicator {
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: 10px;
    height: 10px;
    background-color: aqua;
    opacity: 0.5;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.Button-Text {
    position: relative;
    z-index: 10;
    transition: all 0.1s ease-in-out;
}

.Button-footer {
    margin-bottom: 10px;
    font-size: 15px;
    cursor: pointer;
}