.Footer {
    position: relative;
    padding-top: 30px;
    width: 100%;
    height: 200px;
}

.Footer-full {
    position: absolute;
    left: -1000px;
    top:0;
    width: 4000px;
    height: 100%;
}

.Footer-links {
    display: flex;
    flex-direction: column;
    width: 100px;
    font-size: 15px;
}

.Footer-links-title {
    font-weight: bold;
    margin-bottom: 10px;
}